html {
    min-height: 100%;
}
body {

   background: radial-gradient(closest-side,hsl(214, 47%, 23% ), hsl(237, 49%, 15%)) ;

}

p{
    color:white ;
}
.item-attribution{
    font-size: 11px;
    text-align: center;
    color: white;
}

.item-attribution a{
    color: hsl(228, 45%, 44%);
}

.flex-container{
    display: flex;
    flex-direction: column;
}
.item-Logo{
    align-self: center;
}
.item-Main{
    align-self: center;
}
.item-Rules{
    align-self: flex-end;
}

.Logo-Section{
    display:flex;
    border-style:solid;
    border-color: hsl(217, 16%, 45%);
    border-radius:25px;


}




.Score{
   align-self:flex-end;

}

.Logo-IMG{
    align-self:flex-start;
}
#score-number{
    color:hsl(229, 25%, 31%)
}
#score-text{
    color: hsl(229, 64%, 46%);
}
.circle{
    border-radius: 50%;
    background: aquamarine;
    width: 100px;
    height: 100px;
}

