html {
    min-height: 100%;
}
body {

   background: radial-gradient(closest-side,hsl(214, 47%, 23% ), hsl(237, 49%, 15%)) ;

}

p{
    color:white ;
}
.item-attribution{
    font-size: 11px;
    text-align: center;
    color: white;
}

.item-attribution a{
    color: hsl(228, 45%, 44%);
}

.flex-container{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}
.item-Logo{
    order: 0;


}
.item-Main{
    padding-top: 50px;
}
.item-Rules{

}

.Logo-Section{
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    border-style:solid;
    border-color: hsl(217, 16%, 45%);
    border-radius:25px;
    width: 500px;
    gap: 250px;

}




.Score{
    background: white;
    border-radius: 15px;
    padding: 10px 35px;

}
#score-number{
    color:hsl(229, 25%, 31%)
}
#score-text{
    color: hsl(229, 64%, 46%);
}
.circle{
    border-radius: 50%;
    background: aquamarine;
    width: 100px;
    height: 100px;
}

